/* Write your CSS here */
.tab-btn {
    border: none;
    border-bottom: 2px solid #dfe2e5;
    padding: 8px 15px;
    background-color: transparent;
    font-family: Roboto;
    font-weight: 500;
    color: #7b8794;
    cursor: pointer;
}

.active-tab {
    border-bottom: 2px solid  #2563eb;
    color:  #2563eb;
    font-weight: 600;
}